<div class="center hero-unit">
  <h1>Welcome!</h1>
  <h2>Here are the top interesting photos on Flickr today</h2>
</div>

<!-- Refactor using a loop -->
<%= link_to image_tag("#{@urls[0]}"), "#{@flickr_links[0]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[1]}"), "#{@flickr_links[1]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[2]}"), "#{@flickr_links[2]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[3]}"), "#{@flickr_links[3]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[4]}"), "#{@flickr_links[4]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[5]}"), "#{@flickr_links[5]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[6]}"), "#{@flickr_links[6]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[7]}"), "#{@flickr_links[7]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[8]}"), "#{@flickr_links[8]}", target: "_blank" %>
<%= link_to image_tag("#{@urls[9]}"), "#{@flickr_links[9]}", target: "_blank" %>